<!DOCTYPE html>
<!--
{% echo shop.name %}
Code by Fernando Espeso
fernandoepeso.info
{{ 'now' | date: "%Y" }}
-->
<html lang="{{ shop.locale }}" style="padding-bottom:0px;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  {%- if template.name != "index" and template.name != "cart" -%}
    <title>{{ shop.name }} — {{ page_title }}</title>
  {%- elsif template.name == "cart" -%}
    <title>{{ shop.name }} — {% if cart.item_count == 0 %}Empty {% endif %}Cart</title>
  {%- else -%}
    <title>{{ shop.name }}</title>
  {%- endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
  {%- else -%}
    <meta name="description" content="{{ shop.description }}" />
  {%- endif -%}
  {%- if template contains '404' or template contains 'cart' or template contains 'search' -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  {{ 'style.css'  | asset_url | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {{ 'current-device-browser.min.js' | asset_url | script_tag }}
  {{ 'global.js' | asset_url | script_tag }}
  {%- if template == "cart" and cart.item_count > 0 -%}
    {{ 'global-cart.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
    {{ '//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js' | script_tag }}
    <link rel="preload" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  {%- endif -%}
  {{ content_for_header }}
</head>
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
             {%- if template.suffix.size > 0 -%}
             template-{{ template.suffix }}(&nbsp;
             {% endif %}
             {%- if template == 'cart' and cart.item_count == 0 -%}
             template-cart-empty
             {%- endif -%}">
    <header id="header">
   
      <div id="nav">
        <a href="/index" class="logo-home">
          <svg id="uuid-c4d3824b-bc08-40e5-97ca-65846f8bcc3f" data-name="Layer_1" xmlns="http://www.w3.org/2000/svg" width="72.4" height="18.2" viewBox="0 0 72.4 18.2">
            <defs>
              <style>
                .uuid-e725a2db-5337-4b3e-8a57-0aca39d770fc {
                  fill: #010202;
                }
              </style>
            </defs>
            <path class="uuid-e725a2db-5337-4b3e-8a57-0aca39d770fc" d="M66.2,9.2c0,1.9-.8,4.1-2.7,4.9-.9.4-2,.4-2.3.4-1,0-3.8-.2-4.8-3.2-.3-.9-.3-1.7-.3-2.1,0-2.1.9-4.1,2.9-4.9.7-.3,1.4-.4,2.2-.4.9,0,1.4.1,1.8.3.8.3,1.4.7,1.6,1,.7.4,1.6,1.8,1.6,4M72.4,9.1c0-2.6-1-4.3-1.5-5.1-1.2-1.7-3.3-3.4-7.7-3.8-.8-.1-1.5-.1-2.3-.1-3.8,0-5.8.9-7.3,1.9-1.4.9-3.7,3.1-3.7,7.3,0,1.1.1,3.3,1.9,5.5.8,1,1.7,1.6,2.1,1.8,1.4.8,3.5,1.6,7.1,1.6,2.4,0,3.9-.3,4.9-.6,1-.3,1.9-.7,2.8-1.3,3.4-2.3,3.7-5.7,3.7-7.2M48.5,12.2c0-1.6-.7-2.5-1.1-2.9-.6-.7-1.6-1.2-3.5-1.7-3-.7-6-1.1-6.9-1.8-.3-.3-.4-.6-.4-.8s0-.6.4-.8c.7-.6,2.2-.6,2.3-.6,1.5,0,2.4.4,2.8,1,.1.2.1.4.2.6h5.9c-.1-.7-.4-2.6-2-3.7-.5-.4-1.1-.7-1.7-.9-1.3-.4-3.6-.6-5.1-.6-4.3,0-6.7,1.2-7.8,2.9-.5.7-.7,1.6-.7,2.5,0,.4,0,1.4.7,2.3.9,1.3,2.2,1.8,3.6,2.2,1.3.4,2.7.6,4,.8,1.2.2,2.2.4,2.6.6.8.3,1,.8,1,1.2,0,.6-.5,1.1-1,1.3-.6.3-1.3.4-2,.4-1.6,0-2.4-.3-3-.7s-.7-.9-.8-1.2h-6c.1.6.3,2.1,1.4,3.4,1.2,1.4,3.5,2.3,7.5,2.3,4.6,0,7.2-1,8.6-2.8.6-.7,1-1.9,1-3M28.3.7h-6.1v16.9h6.1V.7ZM21,.7h-6.3l-4.2,10.2L6.4.7H0l7.7,16.9h5.6L21,.7Z"/>
          </svg>
        </a>
        


        <div class="shop {% if template contains 'collection' %} active {% endif %}"><a>SHOP</a></div>
        <div class="artist{% if request.path == '/pages/stockist' %} active{% endif %}"><a href="/pages/stockist">STOCKLIST</a></div>
        <div class="information{% if request.path == '/pages/information' %} active{% endif %}"><a href="/pages/information">ABOUT</a></div>
        <div class="cart-part {% if template == 'cart' %} active {% endif %}">
          <li>
            <a id="cart" href="/cart">
              CART <span class="cart-total">
                {%- if cart.item_count == 0 -%}
                  0
                {%- else -%}
                  {{- cart.item_count -}}
                {%- endif -%}
              </span>
            </a>
          </li>
        </div>


       
        <div class="categories">   
          <div class="list-cat">
            {% for link in linklists.main-menu.links %}
              <div id="cat" class="cat {% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
              {% endfor %} 
          
          </div>
          <div class="search">
            <a>
              <form autocomplete="off" action="{{ routes.search_url }}" style="display:flex;">
               <input type="hidden" name="type" value="product">
               <input class="search-input" type="text" placeholder="SEARCH PRODUCTS" name="q" value="{{ search.terms | escape }}">
             </form>
            </a>
          </div>
        </div>
      </div>

    </header>
    {{ content_for_layout }}
  <footer>
    <div class="footer-menu">
    {% for link in linklists.footer.links %}
      <div class="footer{% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
      {% endfor %} 
    </div>
    <div class="cred">
      © VISO PROJECT {{ 'now' | date: "%Y" }}<br>
      Development Fernando Espeso
    </div>
  </footer>
  {%- if template contains 'product' -%}
    {{ 'global-product.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
	   {% render 'ajaxify-cart' %}
     {%- endif -%}{% render 'mws_apo_init' %}
</body>
</html>
