<!DOCTYPE html>
<!--
{% echo shop.name %}
Code by Fernando Espeso
fernandoepeso.info
{{ 'now' | date: "%Y" }}
-->
<html lang="{{ shop.locale }}" style="padding-bottom:0px;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  {%- if template.name != "index" and template.name != "cart" -%}
    <title>{{ shop.name }} — {{ page_title }}</title>
  {%- elsif template.name == "cart" -%}
    <title>{{ shop.name }} — {% if cart.item_count == 0 %}Empty {% endif %}Cart</title>
  {%- else -%}
    <title>{{ shop.name }}</title>
  {%- endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
  {%- else -%}
    <meta name="description" content="{{ shop.description }}" />
  {%- endif -%}
  {%- if template contains '404' or template contains 'cart' or template contains 'search' -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  {{ 'style.css'  | asset_url | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {{ 'current-device-browser.min.js' | asset_url | script_tag }}
  {{ 'global.js' | asset_url | script_tag }}
  {%- if template == "cart" and cart.item_count > 0 -%}
    {{ 'global-cart.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
    {{ '//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js' | script_tag }}
    <link rel="preload" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  {%- endif -%}
  {{ content_for_header }}
</head>
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
             {%- if template.suffix.size > 0 -%}
             template-{{ template.suffix }}(&nbsp;
             {% endif %}
             {%- if template == 'cart' and cart.item_count == 0 -%}
             template-cart-empty
             {%- endif -%}">
    <header id="header">
      <a class="logo-home movil">
        <svg id="uuid-78f13a01-89eb-4787-a28e-5eeb6d39021b" data-name="Capa_1" xmlns="http://www.w3.org/2000/svg" width="78.13mm" height="20mm" viewBox="0 0 221.48 56.69">
          <defs>
            <style>
              .uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a {
                fill: #1d1d1b;
              }
            </style>
          </defs>
          <path class="uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a" d="M199.94,28.49c0,5.7-2.28,12.12-7.91,14.62-2.71,1.21-5.92,1.21-6.77,1.21-3.07,0-11.19-.64-14.19-9.63-.93-2.64-1-5.21-1-6.13,0-6.13,2.71-12.19,8.63-14.69,2.21-.93,4.14-1.14,6.49-1.14,2.71,0,4.06.36,5.35.78,2.42.86,4.14,2.14,4.85,2.85,1.85,1.64,4.56,5.7,4.56,12.12M218.48,28.35c0-7.63-2.92-12.83-4.56-15.26-3.49-4.99-9.7-10.27-23.03-11.34-2.28-.21-4.49-.21-6.77-.21-11.27.14-17.4,2.71-21.68,5.63-4.14,2.78-10.91,9.13-10.91,21.82,0,3.21.21,9.77,5.56,16.26,2.5,2.99,4.99,4.63,6.35,5.42,4.06,2.42,10.55,4.78,21.25,4.78,7.13,0,11.55-.86,14.47-1.71,2.99-.86,5.56-2.07,8.2-3.85,10.2-6.92,11.12-17.04,11.12-21.53M147.39,37.47c0-4.71-2.07-7.34-3.35-8.63-1.93-2.07-4.63-3.57-10.41-4.92-8.98-2.07-17.9-3.28-20.39-5.28-1-.78-1.14-1.71-1.14-2.28,0-.5.14-1.64,1.14-2.42,2.14-1.78,6.49-1.71,6.77-1.71,4.56,0,7.13,1.14,8.27,3.07.29.5.43,1.07.64,1.64h17.67c-.15-2.21-1.13-7.63-5.9-11.12-1.5-1.14-3.14-2-4.92-2.57-4.21-1.43-11.27-2-15.69-2-12.91,0-19.89,3.49-23.17,8.77-1.43,2.21-2.21,4.71-2.21,7.42,0,1.28.14,4.14,2,6.99,2.57,3.92,6.49,5.42,10.77,6.63,3.92,1.07,7.91,1.71,11.84,2.5,3.49.64,6.49,1.21,7.7,1.71,2.35,1,2.85,2.5,2.85,3.64,0,1.78-1.35,3.21-2.85,3.99-1.71.86-3.99,1.07-5.85,1.07-4.71,0-7.2-.93-8.91-2.21-1.78-1.28-2.14-2.64-2.28-3.49h-17.86c.18,1.84.75,6.2,4.17,9.98,3.71,4.21,10.41,6.99,22.25,6.99,13.76,0,21.32-2.92,25.53-8.2,2.14-2.64,3.35-6.13,3.35-9.55M87.14,3.39h-18.04v50.34h18.04V3.39ZM65.53,3.39h-18.9l-12.48,30.38L21.9,3.39H3l22.82,50.34h16.76L65.53,3.39Z"/>
        </svg>
      </a>
      <div id="nav">
        <a href="/index" class="logo-home desk">
          <svg id="uuid-78f13a01-89eb-4787-a28e-5eeb6d39021b" data-name="Capa_1" xmlns="http://www.w3.org/2000/svg" width="78.13mm" height="20mm" viewBox="0 0 221.48 56.69">
            <defs>
              <style>
                .uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a {
                  fill: #1d1d1b;
                }
              </style>
            </defs>
            <path class="uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a" d="M199.94,28.49c0,5.7-2.28,12.12-7.91,14.62-2.71,1.21-5.92,1.21-6.77,1.21-3.07,0-11.19-.64-14.19-9.63-.93-2.64-1-5.21-1-6.13,0-6.13,2.71-12.19,8.63-14.69,2.21-.93,4.14-1.14,6.49-1.14,2.71,0,4.06.36,5.35.78,2.42.86,4.14,2.14,4.85,2.85,1.85,1.64,4.56,5.7,4.56,12.12M218.48,28.35c0-7.63-2.92-12.83-4.56-15.26-3.49-4.99-9.7-10.27-23.03-11.34-2.28-.21-4.49-.21-6.77-.21-11.27.14-17.4,2.71-21.68,5.63-4.14,2.78-10.91,9.13-10.91,21.82,0,3.21.21,9.77,5.56,16.26,2.5,2.99,4.99,4.63,6.35,5.42,4.06,2.42,10.55,4.78,21.25,4.78,7.13,0,11.55-.86,14.47-1.71,2.99-.86,5.56-2.07,8.2-3.85,10.2-6.92,11.12-17.04,11.12-21.53M147.39,37.47c0-4.71-2.07-7.34-3.35-8.63-1.93-2.07-4.63-3.57-10.41-4.92-8.98-2.07-17.9-3.28-20.39-5.28-1-.78-1.14-1.71-1.14-2.28,0-.5.14-1.64,1.14-2.42,2.14-1.78,6.49-1.71,6.77-1.71,4.56,0,7.13,1.14,8.27,3.07.29.5.43,1.07.64,1.64h17.67c-.15-2.21-1.13-7.63-5.9-11.12-1.5-1.14-3.14-2-4.92-2.57-4.21-1.43-11.27-2-15.69-2-12.91,0-19.89,3.49-23.17,8.77-1.43,2.21-2.21,4.71-2.21,7.42,0,1.28.14,4.14,2,6.99,2.57,3.92,6.49,5.42,10.77,6.63,3.92,1.07,7.91,1.71,11.84,2.5,3.49.64,6.49,1.21,7.7,1.71,2.35,1,2.85,2.5,2.85,3.64,0,1.78-1.35,3.21-2.85,3.99-1.71.86-3.99,1.07-5.85,1.07-4.71,0-7.2-.93-8.91-2.21-1.78-1.28-2.14-2.64-2.28-3.49h-17.86c.18,1.84.75,6.2,4.17,9.98,3.71,4.21,10.41,6.99,22.25,6.99,13.76,0,21.32-2.92,25.53-8.2,2.14-2.64,3.35-6.13,3.35-9.55M87.14,3.39h-18.04v50.34h18.04V3.39ZM65.53,3.39h-18.9l-12.48,30.38L21.9,3.39H3l22.82,50.34h16.76L65.53,3.39Z"/>
          </svg>
        </a>
        <a href="/index" class="logo-home desk once">
          <svg id="uuid-84ef0e38-0881-4837-87a1-9c077571e8bf" data-name="Capa_1" xmlns="http://www.w3.org/2000/svg" width="187.68mm" height="19.12mm" viewBox="0 0 532 54.19">
            <defs>
              <style>
                .uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72 {
                  fill: #1d1d1b;
                }
              </style>
            </defs>
            <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M196.94,27.24c0,5.7-2.28,12.12-7.91,14.62-2.71,1.21-5.92,1.21-6.77,1.21-3.07,0-11.19-.64-14.19-9.63-.93-2.64-1-5.21-1-6.13,0-6.13,2.71-12.19,8.63-14.69,2.21-.93,4.14-1.14,6.49-1.14,2.71,0,4.06.36,5.35.78,2.42.86,4.14,2.14,4.85,2.85,1.85,1.64,4.56,5.7,4.56,12.12M215.48,27.1c0-7.63-2.92-12.83-4.56-15.26-3.49-4.99-9.7-10.27-23.03-11.34-2.28-.21-4.49-.21-6.77-.21-11.27.14-17.4,2.71-21.68,5.63-4.14,2.78-10.91,9.13-10.91,21.82,0,3.21.21,9.77,5.56,16.26,2.5,2.99,4.99,4.63,6.35,5.42,4.06,2.42,10.55,4.78,21.25,4.78,7.13,0,11.55-.86,14.47-1.71,2.99-.86,5.56-2.07,8.2-3.85,10.2-6.92,11.12-17.04,11.12-21.53M144.39,36.22c0-4.71-2.07-7.34-3.35-8.63-1.93-2.07-4.63-3.57-10.41-4.92-8.98-2.07-17.9-3.28-20.39-5.28-1-.78-1.14-1.71-1.14-2.28,0-.5.14-1.64,1.14-2.42,2.14-1.78,6.49-1.71,6.77-1.71,4.56,0,7.13,1.14,8.27,3.07.29.5.43,1.07.64,1.64h17.67c-.15-2.21-1.13-7.63-5.9-11.12-1.5-1.14-3.14-2-4.92-2.57-4.21-1.43-11.27-2-15.69-2-12.91,0-19.89,3.49-23.17,8.77-1.43,2.21-2.21,4.71-2.21,7.42,0,1.28.14,4.14,2,6.99,2.57,3.92,6.49,5.42,10.77,6.63,3.92,1.07,7.91,1.71,11.84,2.5,3.49.64,6.49,1.21,7.7,1.71,2.35,1,2.85,2.5,2.85,3.64,0,1.78-1.35,3.21-2.85,3.99-1.71.86-3.99,1.07-5.85,1.07-4.71,0-7.2-.93-8.91-2.21-1.78-1.28-2.14-2.64-2.28-3.49h-17.86c.18,1.84.75,6.2,4.17,9.98,3.71,4.21,10.41,6.99,22.25,6.99,13.76,0,21.32-2.92,25.53-8.2,2.14-2.64,3.35-6.13,3.35-9.55M84.14,2.14h-18.04v50.34h18.04V2.14ZM62.53,2.14h-18.9l-12.48,30.38L18.9,2.14H0l22.82,50.34h16.76L62.53,2.14Z"/>
            <g>
              <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M258.39,5.58c-1.33-1.25-2.91-2.2-4.76-2.84-1.85-.64-3.91-.96-6.18-.96h-22.51v50.7h4.83v-21.73h17.68c2.27,0,4.33-.32,6.18-.96,1.85-.64,3.43-1.58,4.76-2.84,1.33-1.25,2.34-2.78,3.05-4.58.71-1.8,1.06-3.83,1.06-6.11s-.35-4.31-1.06-6.11c-.71-1.8-1.73-3.33-3.05-4.58ZM254.55,24.07c-2.08,1.7-4.81,2.56-8.17,2.56h-16.62V5.9h16.62c3.36,0,6.08.85,8.17,2.56,2.08,1.7,3.13,4.31,3.13,7.81s-1.04,6.11-3.13,7.81Z"/>
              <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M307.74,46.34c-.14-1.25-.24-2.5-.29-3.73-.05-1.23-.1-2.27-.14-3.13-.1-1.51-.3-2.92-.6-4.22s-.8-2.45-1.49-3.44c-.69-.99-1.57-1.81-2.66-2.45-1.09-.64-2.46-1.08-4.12-1.31v-.14c3.27-.66,5.73-2.18,7.38-4.54,1.66-2.37,2.49-5.16,2.49-8.38,0-2.27-.41-4.25-1.24-5.93-.83-1.68-1.94-3.05-3.34-4.12-1.4-1.06-3.03-1.86-4.9-2.38-1.87-.52-3.85-.78-5.93-.78h-23.22v50.7h4.83v-22.51h18.32c2.27-.1,4.06.28,5.36,1.14,1.3.85,2.3,1.98,2.98,3.37.69,1.4,1.14,2.98,1.35,4.76.21,1.78.37,3.56.46,5.36.05.52.09,1.14.14,1.85s.11,1.43.18,2.17.19,1.44.35,2.13c.16.69.39,1.27.67,1.74h5.33c-.52-.61-.94-1.48-1.24-2.59-.31-1.11-.53-2.3-.67-3.55ZM296.73,25.17c-1.33.45-2.72.67-4.19.67h-18.04V5.9h18.04c3.69,0,6.44.9,8.24,2.7s2.7,4.26,2.7,7.38c0,1.56-.3,2.95-.89,4.15-.59,1.21-1.39,2.24-2.38,3.09s-2.15,1.5-3.48,1.95Z"/>
              <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M390.12,36.29c0,2.32-.14,4.31-.43,5.96-.28,1.66-.78,3.02-1.49,4.08-.71,1.06-1.68,1.85-2.91,2.34-1.23.5-2.79.75-4.69.75-2.51,0-4.42-.49-5.72-1.46-1.3-.97-2.24-2.14-2.81-3.52-.57-1.37-.9-2.82-.99-4.33-.1-1.51-.17-2.82-.21-3.91h-4.83c0,2.23.19,4.38.57,6.46.38,2.08,1.09,3.92,2.13,5.5,1.04,1.59,2.49,2.86,4.33,3.83,1.85.97,4.21,1.46,7.1,1.46s5.05-.31,6.92-.92c1.87-.61,3.38-1.54,4.55-2.77,1.16-1.23,2-2.79,2.52-4.69.52-1.89.78-4.14.78-6.75V1.78h-4.83v34.51Z"/>
              <polygon class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" points="410 28.34 438.26 28.34 438.26 24.22 410 24.22 410 5.9 440.18 5.9 440.18 1.78 405.17 1.78 405.17 52.48 440.54 52.48 440.54 48.36 410 48.36 410 28.34"/>
              <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M483.43,39.52c-.85,1.97-1.96,3.68-3.34,5.15-1.37,1.47-3.01,2.63-4.9,3.48-1.89.85-4.02,1.28-6.39,1.28-3.36,0-6.25-.64-8.66-1.92-2.41-1.28-4.39-2.97-5.93-5.08-1.54-2.11-2.68-4.5-3.41-7.17-.74-2.68-1.1-5.39-1.1-8.13s.37-5.51,1.1-8.17c.73-2.65,1.87-5.03,3.41-7.14,1.54-2.11,3.52-3.8,5.93-5.08,2.41-1.28,5.3-1.92,8.66-1.92,1.85,0,3.61.27,5.29.82,1.68.55,3.22,1.34,4.62,2.38,1.4,1.04,2.58,2.33,3.55,3.87.97,1.54,1.67,3.28,2.1,5.22h4.83c-.33-2.65-1.12-4.99-2.38-7.03-1.25-2.03-2.82-3.75-4.69-5.15-1.87-1.39-3.95-2.45-6.25-3.16s-4.65-1.06-7.07-1.06c-3.98,0-7.47.72-10.47,2.17-3.01,1.45-5.5,3.39-7.49,5.82-1.99,2.44-3.48,5.24-4.47,8.41-.99,3.17-1.49,6.51-1.49,10.01s.5,6.84,1.49,10.01c.99,3.17,2.49,5.96,4.47,8.38,1.99,2.41,4.48,4.34,7.49,5.79,3.01,1.44,6.5,2.17,10.47,2.17,2.98,0,5.69-.47,8.13-1.42,2.44-.95,4.56-2.3,6.36-4.05,1.8-1.75,3.27-3.88,4.4-6.39,1.14-2.51,1.87-5.33,2.2-8.45h-4.83c-.24,2.27-.78,4.39-1.63,6.36Z"/>
              <polygon class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" points="491.88 1.78 491.88 5.9 509.49 5.9 509.49 52.48 514.32 52.48 514.32 5.9 532 5.9 532 1.78 491.88 1.78"/>
              <path class="uuid-d79afee8-8f34-475e-a6ef-bb78f7102c72" d="M354.66,7.04c-.92-.9-1.91-1.72-2.98-2.45-.92-.65-1.91-1.22-2.95-1.72-.46-.22-.92-.43-1.4-.62-1.56-.6-3.27-1.04-5.08-1.28-1.26-.17-2.59-.27-3.96-.27-.6,0-1.18.02-1.75.05-3.27.19-6.17.9-8.73,2.11-.16.08-.3.14-.44.22l-4.61,4.61-5.16,5.16c-.49.96-.93,1.96-1.31,3-.03.05-.05.11-.06.16-.14.36-.27.73-.38,1.1l-.38,1.28c-.36,1.37-.63,2.79-.8,4.23-.05.35-.09.71-.13,1.07-.11.93-.16,1.88-.16,2.86l13.32,24.68s.08.05.11.06c1.7.82,3.57,1.42,5.59,1.77.28.05.57.09.85.13,1.29.19,2.64.28,4.04.28,3.98,0,7.46-.73,10.45-2.18,2.98-1.44,5.46-3.36,7.45-5.78,1.99-2.41,3.49-5.21,4.48-8.38.54-1.74.93-3.52,1.18-5.35.2-1.53.3-3.08.3-4.67,0-1.06-.05-2.11-.14-3.14l-7.34-16.95ZM356.2,35.25c-.73,2.68-1.86,5.07-3.41,7.18-1.53,2.1-3.5,3.8-5.89,5.08-2.4,1.28-5.27,1.91-8.63,1.91-2.46,0-4.69-.35-6.64-1.04l-12.4-23.01c.13-2.18.47-4.31,1.04-6.41.3-1.04.65-2.05,1.06-3.01l9.94-9.94c2.05-.79,4.39-1.18,7.01-1.18,3.36,0,6.23.65,8.63,1.93,1.23.65,2.35,1.42,3.35,2.32l6.99,16.13c.05.63.06,1.28.06,1.93,0,2.75-.36,5.46-1.1,8.13Z"/>
            </g>
          </svg>
        </a>

        <div class="home {% if request.path == '/' %} active{% endif %}"><a href="/index">HOME</a></div>
        <div class="shop {% if template contains 'collection' %} active {% endif %}"><a  href="/collections/all">SHOP</a></div>
        <div class="artist{% if request.path == '/pages/stockist' %} active{% endif %}"><a href="/pages/stockist">STOCKIST</a></div>
        <div class="information{% if request.path == '/pages/about' %} active{% endif %}"><a href="/pages/about">ABOUT</a></div>
        <div class="store{% if request.path == '/pages/store' %} active{% endif %}"><a href="/pages/store">STORE</a></div>
        <div class="cart-part {% if template == 'cart' %} active {% endif %}">
          <li>
            <a id="cart" href="/cart">
              CART <span class="cart-total">
                {%- if cart.item_count == 0 -%}
                  0
                {%- else -%}
                  {{- cart.item_count -}}
                {%- endif -%}
              </span>
            </a>
          </li>
        </div>
        <div class="categories">   
          <div class="list-cat">
            {% for link in linklists.main-menu.links %}
              <div id="cat" class="cat {% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
              {% endfor %} 
          
          </div>
          <div class="search">
            <a>
              <form autocomplete="off" action="{{ routes.search_url }}" style="display:flex;">
               <input type="hidden" name="type" value="product">
               <input class="search-input" type="text" placeholder="SEARCH PRODUCTS" name="q" value="{{ escape }}">
             </form>
            </a>
          </div>
        </div>
      </div>
    </header>
    {{ content_for_layout }}
  <footer>
    <div class="footer-menu">
    {% for link in linklists.footer.links %}
      <div class="footer{% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
      {% endfor %} 
    </div>
    <div class="cred">
      © VISO PROJECT {{ 'now' | date: "%Y" }}<br>
    </div>
  </footer>
  {%- if template contains 'product' -%}
    {{ 'global-product.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
	   {% render 'ajaxify-cart' %}
     {%- endif -%}{% render 'mws_apo_init' %}
</body>
</html>
