<!DOCTYPE html>
<!--
{% echo shop.name %}
Code by Fernando Espeso
fernandoepeso.info
{{ 'now' | date: "%Y" }}
-->
<html lang="{{ shop.locale }}" style="padding-bottom:0px;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  {%- if template.name != "index" and template.name != "cart" -%}
    <title>{{ shop.name }} — {{ page_title }}</title>
  {%- elsif template.name == "cart" -%}
    <title>{{ shop.name }} — {% if cart.item_count == 0 %}Empty {% endif %}Cart</title>
  {%- else -%}
    <title>{{ shop.name }}</title>
  {%- endif -%}
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <link rel="canonical" href="{{ canonical_url }}" />
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}" />
  {%- else -%}
    <meta name="description" content="{{ shop.description }}" />
  {%- endif -%}
  {%- if template contains '404' or template contains 'cart' or template contains 'search' -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  {{ 'style.css'  | asset_url | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  {{ 'current-device-browser.min.js' | asset_url | script_tag }}
  {{ 'global.js' | asset_url | script_tag }}
  {%- if template == "cart" and cart.item_count > 0 -%}
    {{ 'global-cart.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
    {{ '//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js' | script_tag }}
    <link rel="preload" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  {%- endif -%}
  {{ content_for_header }}
</head>
<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
             {%- if template.suffix.size > 0 -%}
             template-{{ template.suffix }}(&nbsp;
             {% endif %}
             {%- if template == 'cart' and cart.item_count == 0 -%}
             template-cart-empty
             {%- endif -%}">

    <header id="header">
      <div class="menu-open">MENU</div>
      <div class="cart-part fix {% if template == 'cart' %} active {% endif %}">
        <li>
          <a id="cart" href="/cart">
            CART <span class="cart-total">
              {%- if cart.item_count == 0 -%}
                0
              {%- else -%}
                {{- cart.item_count -}}
              {%- endif -%}
            </span>
          </a>
        </li>
      </div>
      <a href="/index" class="logo-home movil">
        <svg id="uuid-78f13a01-89eb-4787-a28e-5eeb6d39021b" data-name="Capa_1" xmlns="http://www.w3.org/2000/svg" width="78.13mm" height="20mm" viewBox="0 0 221.48 56.69">
          <defs>
            <style>
              .uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a {
                fill: #1d1d1b;
              }
            </style>
          </defs>
          <path class="uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a" d="M199.94,28.49c0,5.7-2.28,12.12-7.91,14.62-2.71,1.21-5.92,1.21-6.77,1.21-3.07,0-11.19-.64-14.19-9.63-.93-2.64-1-5.21-1-6.13,0-6.13,2.71-12.19,8.63-14.69,2.21-.93,4.14-1.14,6.49-1.14,2.71,0,4.06.36,5.35.78,2.42.86,4.14,2.14,4.85,2.85,1.85,1.64,4.56,5.7,4.56,12.12M218.48,28.35c0-7.63-2.92-12.83-4.56-15.26-3.49-4.99-9.7-10.27-23.03-11.34-2.28-.21-4.49-.21-6.77-.21-11.27.14-17.4,2.71-21.68,5.63-4.14,2.78-10.91,9.13-10.91,21.82,0,3.21.21,9.77,5.56,16.26,2.5,2.99,4.99,4.63,6.35,5.42,4.06,2.42,10.55,4.78,21.25,4.78,7.13,0,11.55-.86,14.47-1.71,2.99-.86,5.56-2.07,8.2-3.85,10.2-6.92,11.12-17.04,11.12-21.53M147.39,37.47c0-4.71-2.07-7.34-3.35-8.63-1.93-2.07-4.63-3.57-10.41-4.92-8.98-2.07-17.9-3.28-20.39-5.28-1-.78-1.14-1.71-1.14-2.28,0-.5.14-1.64,1.14-2.42,2.14-1.78,6.49-1.71,6.77-1.71,4.56,0,7.13,1.14,8.27,3.07.29.5.43,1.07.64,1.64h17.67c-.15-2.21-1.13-7.63-5.9-11.12-1.5-1.14-3.14-2-4.92-2.57-4.21-1.43-11.27-2-15.69-2-12.91,0-19.89,3.49-23.17,8.77-1.43,2.21-2.21,4.71-2.21,7.42,0,1.28.14,4.14,2,6.99,2.57,3.92,6.49,5.42,10.77,6.63,3.92,1.07,7.91,1.71,11.84,2.5,3.49.64,6.49,1.21,7.7,1.71,2.35,1,2.85,2.5,2.85,3.64,0,1.78-1.35,3.21-2.85,3.99-1.71.86-3.99,1.07-5.85,1.07-4.71,0-7.2-.93-8.91-2.21-1.78-1.28-2.14-2.64-2.28-3.49h-17.86c.18,1.84.75,6.2,4.17,9.98,3.71,4.21,10.41,6.99,22.25,6.99,13.76,0,21.32-2.92,25.53-8.2,2.14-2.64,3.35-6.13,3.35-9.55M87.14,3.39h-18.04v50.34h18.04V3.39ZM65.53,3.39h-18.9l-12.48,30.38L21.9,3.39H3l22.82,50.34h16.76L65.53,3.39Z"/>
        </svg>
      </a>
      <div id="nav">
        <a href="/index" class="logo-home desk">
          <svg id="uuid-78f13a01-89eb-4787-a28e-5eeb6d39021b" data-name="Capa_1" xmlns="http://www.w3.org/2000/svg" width="78.13mm" height="20mm" viewBox="0 0 221.48 56.69">
            <defs>
              <style>
                .uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a {
                  fill: #1d1d1b;
                }
              </style>
            </defs>
            <path class="uuid-c26a5fdc-8b93-4a96-83f4-3b64ab55d76a" d="M199.94,28.49c0,5.7-2.28,12.12-7.91,14.62-2.71,1.21-5.92,1.21-6.77,1.21-3.07,0-11.19-.64-14.19-9.63-.93-2.64-1-5.21-1-6.13,0-6.13,2.71-12.19,8.63-14.69,2.21-.93,4.14-1.14,6.49-1.14,2.71,0,4.06.36,5.35.78,2.42.86,4.14,2.14,4.85,2.85,1.85,1.64,4.56,5.7,4.56,12.12M218.48,28.35c0-7.63-2.92-12.83-4.56-15.26-3.49-4.99-9.7-10.27-23.03-11.34-2.28-.21-4.49-.21-6.77-.21-11.27.14-17.4,2.71-21.68,5.63-4.14,2.78-10.91,9.13-10.91,21.82,0,3.21.21,9.77,5.56,16.26,2.5,2.99,4.99,4.63,6.35,5.42,4.06,2.42,10.55,4.78,21.25,4.78,7.13,0,11.55-.86,14.47-1.71,2.99-.86,5.56-2.07,8.2-3.85,10.2-6.92,11.12-17.04,11.12-21.53M147.39,37.47c0-4.71-2.07-7.34-3.35-8.63-1.93-2.07-4.63-3.57-10.41-4.92-8.98-2.07-17.9-3.28-20.39-5.28-1-.78-1.14-1.71-1.14-2.28,0-.5.14-1.64,1.14-2.42,2.14-1.78,6.49-1.71,6.77-1.71,4.56,0,7.13,1.14,8.27,3.07.29.5.43,1.07.64,1.64h17.67c-.15-2.21-1.13-7.63-5.9-11.12-1.5-1.14-3.14-2-4.92-2.57-4.21-1.43-11.27-2-15.69-2-12.91,0-19.89,3.49-23.17,8.77-1.43,2.21-2.21,4.71-2.21,7.42,0,1.28.14,4.14,2,6.99,2.57,3.92,6.49,5.42,10.77,6.63,3.92,1.07,7.91,1.71,11.84,2.5,3.49.64,6.49,1.21,7.7,1.71,2.35,1,2.85,2.5,2.85,3.64,0,1.78-1.35,3.21-2.85,3.99-1.71.86-3.99,1.07-5.85,1.07-4.71,0-7.2-.93-8.91-2.21-1.78-1.28-2.14-2.64-2.28-3.49h-17.86c.18,1.84.75,6.2,4.17,9.98,3.71,4.21,10.41,6.99,22.25,6.99,13.76,0,21.32-2.92,25.53-8.2,2.14-2.64,3.35-6.13,3.35-9.55M87.14,3.39h-18.04v50.34h18.04V3.39ZM65.53,3.39h-18.9l-12.48,30.38L21.9,3.39H3l22.82,50.34h16.76L65.53,3.39Z"/>
          </svg>
        </a>
        <div class="shop {% if template contains 'collection' %} active {% endif %}"><a  href="/collections/all">SHOP</a></div>
        <div class="artist{% if request.path == '/pages/stockist' %} active{% endif %}"><a href="/pages/stockist">STOCKIST</a></div>
        <div class="information{% if request.path == '/pages/about' %} active{% endif %}"><a href="/pages/about">ABOUT</a></div>
        <div class="store{% if request.path == '/pages/store' %} active{% endif %}"><a href="/pages/store">STORE</a></div>
        <div class="cart-part {% if template == 'cart' %} active {% endif %}">
          <li>
            <a id="cart" href="/cart">
              CART <span class="cart-total">
                {%- if cart.item_count == 0 -%}
                  0
                {%- else -%}
                  {{- cart.item_count -}}
                {%- endif -%}
              </span>
            </a>
          </li>
        </div>
        <div class="categories">   
          <div class="list-cat">
            {% for link in linklists.main-menu.links %}
              <div id="cat" class="cat {% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
              {% endfor %} 
          
              <div class="ctct-inline-form" data-form-id="49e2990f-04a0-4ed2-aadd-9889d0d8a773"></div>

          </div>
          <div class="search">
     
              <form autocomplete="off" action="{{ routes.search_url }}" style="display:flex;">
               <input type="hidden" name="type" value="product">
               <input class="search-input" type="text" placeholder="SEARCH PRODUCTS" name="q" value="{{ escape }}">
             </form>
          
          </div>
        </div>
      </div>
    </header>
    {{ content_for_layout }}
  <footer>
    <div class="footer-menu">
    {% for link in linklists.footer.links %}
      <div class="footer{% if link.active %} active {% endif %}" ><a class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
      {% endfor %} 
    </div>
    <div class="cred">
      © VISO PROJECT {{ 'now' | date: "%Y" }}<br>
    </div>
  </footer>

  {%- if template contains 'product' -%}
    {{ 'global-product.js' | asset_url | script_tag }}
  {%- endif -%}
  {%- if template == 'product' -%}
	   {% render 'ajaxify-cart' %}
     {%- endif -%}{% render 'mws_apo_init' %}

<script> var _ctct_m = "d3051e1a85cd8f7362d3d8ff0be3e033"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<script src="https://static.ctctcdn.com/js/forms-sdk.js"></script>

</body>
</html>
