<section data-section-id="desplegable" id="desplegable" class="desplegable">
  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'summary' %}
        {% unless block.settings.subtitle and block.settings.interior == blank %}
          <div class="news-content {{ block.settings.width_class }}">
            <h1 class="view">{{ block.settings.subtitle }}</h1>
            <div class="title-seccion big">{{ block.settings.interior }}</div>
            {% if block.settings.image != blank %}
              <div class="image-full">
                <img class="lazy" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.title }}" data-src="{{ block.settings.image | img_url: 'master' }}">
              </div>
            {% endif %}
            <div class="caption">{{ block.settings.title }}</div>
          </div>
        {% endunless %}

      {% when 'gallery' %}
        <div class="gallery-content {{ block.settings.width_class }}">
          <div class="gallery-images">
            {% if block.settings.image_1 != blank %}
              <div class="image-left">
                <img class="lazy" src="{{ block.settings.image_1 | img_url: 'master' }}" alt="Image 1" data-src="{{ block.settings.image_1 | img_url: 'master' }}">
              </div>
            {% endif %}
            {% if block.settings.image_2 != blank %}
              <div class="image-right">
                <img class="lazy" src="{{ block.settings.image_2 | img_url: 'master' }}" alt="Image 2" data-src="{{ block.settings.image_2 | img_url: 'master' }}">
              </div>
            {% endif %}
          </div>
          <div class="caption">{{ block.settings.title }}</div>
        </div>

        {% when 'featured-products' %}
          <div id="products" style="grid-column:span 6">
            <h1 class="view">Featured Products</h1>
            {% for product in collections['featured'].products limit: 6 %}
              <div class="product">
                <a href="{{ product.url }}" class="thumbnail">
                  <img id="none" class="lazy" src="{{ product.images[0] | img_url: 'thumb' }}" data-src="{{ product.images[0] | img_url: 'master' }}" alt="{{ product.title }}" />
                  {% if product.images.size > 1 %}
                    <img id="block" class="lazy" src="{{ product.images[1] | img_url: 'thumb' }}" data-src="{{ product.images[1] | img_url: 'master' }}" alt="{{ product.title }}" />
                  {% endif %}
                </a>
                <div class="featured-product__info">
                  <h1 class="product-title">{{ product.title }}</h1>
                  <p class="product-price">{{ product.price | money }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endcase %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Sections",
  "blocks": [
    {
      "type": "summary",
      "name": "Content",
      "settings": [
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Section"
        },
        {
          "type": "text",
          "id": "interior",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Product Title"
        },
        {
          "type": "select",
          "id": "width_class",
          "label": "Width",
          "options": [
            {
              "value": "full-width",
              "label": "Full Width"
            },
            {
              "value": "mid-width",
              "label": "Mid Width"
            }
          ]
        }
      ]
    },
    {
      "type": "gallery",
      "name": "Gallery",
      "settings": [
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Section"
        },
        {
          "type": "text",
          "id": "interior",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Product Title"
        },
        {
          "type": "select",
          "id": "width_class",
          "label": "Width",
          "options": [
            {
              "value": "full-width",
              "label": "Full Width"
            },
            {
              "value": "mid-width",
              "label": "Mid Width"
            }
          ]
        }
      ]
    },
    {
      "type": "featured-products",
      "name": "Featured Products",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "INFO-BLOCK"
    }
  ]
}
{% endschema %}
