<div id="products">
  <h1 class="product">Featured Products</h1>
  <div class="grid">
      {% for product in collections['frontpage'].products limit: 6 %}
          <div class="grid__item">
              <a href="{{ product.url }}" class="tuhumbnail">
                  <div class="featured-product__image">
                      <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
                  </div>
                </a>   
                  <div class="featured-product__info">
                      <h1 class="product-title">{{ product.title }}</h1>
                      <p class="product-price">{{ product.price | money }}</p>
                  </div>
            
          </div>
      {% endfor %}
  </div>
</div>