<div class="main-product" data-section-id="{{ section.id }}" data-product-section>
  <!--GALLERY-->

  <!--INFO-BUY-->
  <div class="buy-block">
    <form id="product-actions" action="/cart/add" method="post" enctype="multipart/form-data"
      {%- if product.has_only_default_variant -%}
      class="product-simple"
      {%- elsif variants > 1 -%}
      class="product-variants"
      {%- endif -%} >
      <div id="bag">
        <div class="product-title">
          <a>{{ product.title }}</a>
          <div class="product-price" id="product-price"></div>
        </div>
      
                  {% if product.compare_at_price > product.price %}
                      <span class="sale">On Sale</span>
                  {% else %}
                  {% endif %}
          {% if product.available %}
                    {% else %}
        <div class="sold-out">Sold Out</div>
                    {% endif %}
        <div class="variations double">
                    <select id="product-select" name="id">
                      {% for variant in product.variants %}
                      <option value="{{ variant.id }}"></option>
                      {% endfor %}
                    </select>
                    {% if product.available %}
                        <button id="add-to-bag" {% unless product.available %}disabled{% endunless %} type="submit" name="add">Add to cart</button>
                    {% else %}
                    {% endif %}
          </div>          
      </div>
    </form>
      <div class="information">
        <a href="mailto:">Contact us</a> if your size is sold out or you have any questions. 
        Many of our products will be made to order, please allow up to two weeks.
      </div>
 </div>
  <div class="info-product-piece">
    <p>{{ product.description }}</p>
  </div>
</div>
<div class="product_gallery">
  {% for media in product.media %}
  {% case media.media_type %}
  {% when 'video' %}
  {{ media | video_tag:loop: true, autoplay: true, muted:true}}
  {% endcase %}
  {% case media.media_type %}
  {% when 'image' %}
  <img class="lazy" src="{{ media | product_img_url: 'thumb' }}" data-src="{{ media | product_img_url: 'master' }}" alt="{{ media.alt }}"/>
  {% endcase %}
  {% endfor %}
</div>
