<div class="main">
  <div class="hero">
    {% section 'aim' %}
    {% section 'hero' %}
  </div>
  <div class="section-title big"><div class="section">4</div>OUR LAST PRODUCTS</div>
  <div class="view"><a href="collections/all">VIEW ALL</a></div>
  {% assign product_limit = 4 %}
  {% for product in collections.all.products limit:product_limit %}
      {% include 'product-body' %}
  {% endfor %}
  
 
  {% section 'about' %}
  <div class="collections">
    {% assign filtered_collections = collections | where_exp: "collection", "collection.title != 'SPECIAL' and collection.title != 'ALL'" %}
    {% assign sorted_collections = filtered_collections | sort: 'title' %}
    
    {% assign count = 0 %}
    
    {% for collection in sorted_collections %}
      {% if count < 3 %}
        {% unless collection.title == 'ALL' or collection.title == 'SPECIAL' %}
          <div class="collection">
            <div class="section-title big" style="margin-bottom:2px">
              <div class="section">{{ collection.all_products_count }}</div>{{ collection.title }}
            </div>
            <a href="{{ collection.url }}">
              <img src="{{ collection.image | collection_img_url: 'master' }}" alt="{{ collection.title }}">
            </a>
          </div>
          {% assign count = count | plus: 1 %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    
    
  </div>
</div>
<style>
.loader{
  position:fixed;
  top:0%;
  left:0%;
  width:100vw;
  height:100vh;
  z-index:100;
}
.blokie{
  justify-content: center;
  display:flex;
  grid-gap:10px;
  grid-gap:10px;
  width:100%;
  height:23%!important;
  overflow:hidden;
  height:fit-content;
}
.loader svg.up{
}

.special {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.special .product{
  align-items:center;
  grid-column:span 1;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2px;
}
.special .row {
  height:fit-content;
  order: -1;
  text-align:center!important;
  grid-column: span 2;
}
.special .product-title {
  text-transform: uppercase;
  font-size: var(--big);
  line-height: calc(var(--big) + 5px);
  text-transform: uppercase;
}
.product-price-wrap{
display: none!important;}
.view{
  text-align: center;
  background-color: var(--grey);
  height: fit-content;
  grid-column: span 12;
  padding: 5px;
}
.view:hover{
  background-color: black;
  color:white;
}
.view:hover a{
  color:white;
}
div#block-text_rMrhj6 {
  margin-bottom:2px;
  text-align: center;
  grid-column: span 4;
  padding: 20px 0px;
  background-color: var(--yellow);
}
section#desplegable {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div#shopify-section-about {
  grid-column: span 12;
}
.blokie{
  z-index:2000;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
}

.loader svg{
  position:relative;
  z-index: 10;
  width: auto;
  height: 157px;
  color: white;
  align-self: center;
  padding-bottom: 5px;
}

.loader div#block-media_9Chkad {
  width: 100%;
  height: auto;
}
.element-change {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.color {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.color.image{
height: auto;}



  .collection a{
    margin-top:2px;
    
  }
  form#product-actions {
    display: none;
}
  .collection a img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
.section-title{
margin:0px;}

.blue {
  background-color:white;
  animation: slideIn 1s ease forwards;
  animation-delay: 0.5s;
  z-index:3;
}

.red {
  background-color:var(--grey);
  animation: slideIn 1s ease forwards;
  animation-delay:1.5s;
  z-index:2;
}

.redish {
  background-color:white;
  animation: slideIn 1s ease forwards;
  animation-delay: 2s;
  z-index:1;
}

.yellow {
  background-color:var(--grey);
  animation: slideIn 1s ease forwards;
  animation-delay: 2.5s;
}

@keyframes slideIn {
  0% {
    width:100vw;
    opacity: 1;
  }
  100% {
    width:0vw;
    opacity: 1;
  }
}
      @media (max-width: 600px) {
        .main-information{
        margin-top:0px;}
        .thumbnail img{
        margin-bottom:2px;}
      .special .product {
        grid-template-columns: repeat(1,1fr);
      }
      .special .row {
        grid-column: span 1;
    }
      .news-content {
        grid-template-columns: repeat(1,11fr);
    }
    .news-content .view {
      grid-column: span 1;
  }
  .news-content .title-seccion.big {
    grid-column: span 1;
    text-align: center;
}

.loader svg{
  width:200px;
  z-index: 10;
  height: auto;
  color: white;
  align-self: center;
  padding-bottom: 5px;
}

    }
</style>
<script>

</script>