<div class="main">
  <div class="about">
    <div class="section-title">
      <div class="big">{{  page.metafields.custom.about }}</div>
    </div>
 
      {% if page.metafields.custom.contact %}
        {{ page.metafields.custom.contact | metafield_tag }}
      {% endif %}

    {% comment %} <div class="section">
      {% for link in linklists.footer.links %}
        <div> <a {% if link.active %}class="active"{% endif %} class="{{ link.title }}" href="{{ link.url }}">{{ link.title }}</a></div>
        {% endfor %}       
    </div>
  </div> {% endcomment %}
</div>
<style>
  .metafield-rich_text_field {
    grid-column: span 12;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
}
.metafield-rich_text_field  > p{
  grid-column:span 3;
  background-color:black;
  padding:5px;
  text-align:left;
  color:white;
  line-height: calc(var(--main) + 5px);
}
.metafield-rich_text_field  > p:hover{
  background-color: var(--red-light);
}
.metafield-rich_text_field > p> a{
  display: block;
  width: 100%;
}

  .about{
    height:fit-content;
    margin-top:2px;
    display: grid;
    grid-column:span 12;
    row-gap:2px;
    text-align:center;
  }
  .info{
  
  }
  .section{
    display:grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-gap:2px;
    grid-column:span 12;
    margin-bottom:0px;
    text-align:left;
  }
  .section > div{
    grid-column:span 3;
    background-color:black;
    padding:5px;
    color:white;
    line-height: calc(var(--main) + 5px);
  }
  .section >div:hover{
    background-color: var(--red-light);
    color:white;
  }
  .colophon {
    text-align:left;
    padding: 10px 5px;
    grid-column: span 12;
}
  .section >div a{
    width: 100%;
    display: block;
  }
  .double{
    display:grid;
  }
  .section-title {
    color: #fff;
    background-color: var(--red-light);
    grid-column: span 12;
    text-align: center;
    padding: 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .conten{
  
  }
  @media (max-width: 600px) {

    .about{
      padding: 0 0px;
      height: fit-content;
      margin-top: 2px;
      display: grid;
      grid-column: span 12;
      row-gap: 2px;
      text-align: center;
    }
.section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    grid-column: span 12;
    margin-bottom: 0px;
    text-align: left;
}
  }

  
</style>
