<div class="full-body">
  <div id="content">
    <div class="ab">
      <div class="add_row">
        <div class="row">
                <div class="product-title">
                  {{ product.title}}
                </div>
                <div id="product-price"></div>
                      {% if product.compare_at_price > product.price %}
                      {% else %}
                      {% endif %}       
                    <div class="product-price-wrap"> 
                      {% if product.available %}
                      {% if product.price_varies %}
                      {% else %}
                        {% if product.compare_at_price > product.price %}
                        <span class="red">ON SALE</span>
                        {% else %}
                    
                        {% endif %}
                      {% endif %}
                      {% else %}
                      {% endif %}
                    </div> 
          </div>
          <div class="add_item">
                        <!--Product Info-->
                        <form id="product-actions" action="/cart/add" method="post" enctype="multipart/form-data"
                                  {%- if product.has_only_default_variant -%}
                                  class="product-simple"
                                  {%- elsif variants > 0 -%}
                                  class="product-variants"
                                  {%- endif -%}>

                                  <div id="bag-total" >
                                      <!--Variations Dropdown-->
                                    <select id="product-select" name="id">
                                      {% for variant in product.variants %}
                                      <option value="{{ variant.id }}">{{ variant.title | upcase }}</option>
                                      {% endfor %}
                                    </select>  
                                    <!--Actions-->
                                    {% if product.available %}
                                    <button   {% if product.available %} onclick="ShowSecond()" {% endif %}  id="add-to-cart" {% unless product.available %}disabled{% endunless %} type="submit" name="add">
                                      ADD TO BAG
                                    </button> 
                                    {% else %}
                                      <button  id="add-to-cart" {% unless product.selected_variant.available %}disabled{% endunless %}>
                                    SOLD OUT
                                    </button> 
                                    {% endif %}
                                    <div class="product-added"> ADDED TO <a href="/cart">CART</a></div>

                                    </div>

                        </form>
                  </div> 
      </div>         
    </div>
    <div class="product-description">
        {{ product.content}}
    </div>
    {%- if product.metafields.custom.materiales != blank -%}
      <div class="show-description description">
        {{ product.metafields.custom.materiales | metafield_tag }}
      </div>
  {%- endif -%}
  </div>
  <div class="gallery_collection">

      {% for media in product.media %}
          <img class="lazy" src="{{ media | product_img_url: 'thumb' }}" data-src="{{ media | product_img_url: 'master' }}" alt="{{ media.alt }}"/>
      {% endfor %}
  </div>
</div>


{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{% assign variants = 0 %}        
{% for option in product.options %}
{% if product.options.first != 'Title' %}
{% assign variants = variants | plus: 1 %}
{% endif %}
{% endfor %}


{% include 'related' %}

<script>
//PRODUCT FUNCTIONS
var selectCallback = function(variant, selector){
  if(variant){
    if (variant.available) {
      jQuery('#add-to-cart')
        .prop('disabled', false)
        .text('ADD TO BAG')
        .removeClass('out-of-stock')
        .addClass('in-stock');
    } else {
      jQuery('#add-to-cart')
        .prop('disabled', true)
        .text('OUT OF STOCK')
        .removeClass('in-stock')
        .addClass('out-of-stock');
    }
    if( variant.compare_at_price > variant.price ) {
      {% if variant.price < variant.compare_at_price %} {{ variant.compare_at_price | money }}{% endif %}
      jQuery('#product-price').html(Shopify.formatMoney(variant.price, "<span>{{ shop.money_format }}</span>") + " <s>" + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + "</s>");
    }else{
      jQuery('#product-price').html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));
    }
  }else{
    jQuery('#product-price').empty();
    jQuery('#add-to-cart').prop('disabled', true).text('ADD TO BAG');
    {% if product.price_varies %}
      jQuery('#product-price').html('{{ product.price_min | money }} – {{ product.price_max | money }}' );
    {% else %}
      jQuery('#product-price').html('{{ product.price | money }}');
    {% endif %}
  }
};
</script>